# Data Prep

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [2]:
diabetes_df = pd.read_csv("data.csv")

column_names = ["age", "sex", "bmi", "bp", "tc", "ldl", "hdl", "tch", "ltg", "glu", "target"]

diabetes_df.columns = column_names

diabetes_df.head()

,age,sex,bmi,bp,tc,ldl,hdl,tch,ltg,glu,target
0,0.038076,0.050680,0.061696,NaN,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,NaN,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [3]:
diabetes_df.isnull().values.any()

True

In [4]:
diabetes_df = diabetes_df.fillna(diabetes_df.mean())
diabetes_df.head()

,age,sex,bmi,bp,tc,ldl,hdl,tch,ltg,glu,target
0,0.038076,0.050680,0.061696,0.000786,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,0.000069,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [5]:
train_np, test_np = train_test_split(diabetes_df, test_size=0.2, random_state=1234)

In [6]:
print("Observations in train: ", train_np.shape[0])

Observations in train:  353

In [7]:
print("Observations in test: ", test_np.shape[0])

Observations in test:  89

In [8]:
csv_header = ','.join(column_names)
np.savetxt("train.csv", train_np, delimiter=',', fmt=','.join(["%10.6f"]*10 + ["%i"]), comments='', header=csv_header)
np.savetxt("test.csv", test_np, delimiter=',', fmt=','.join(["%10.6f"]*10 + ["%i"]), comments='', header=csv_header)